.genre{
    background-color:indianred;
    float: left;
    color: white;
    padding: 16px;
    border-radius: 25%;
    vertical-align: left;
    position:absolute;
     top : 155px;
    left : 610px;
}

.submit{
    background-color:dodgerblue;
    float: left;
    color: white;
    padding: 16px;
    border-radius: 25%;
    vertical-align: left;
    position:absolute;
     top : 300px;
    left : 610px;
}

.joincode{
    
    float: left;
    border-radius: 25%;
    vertical-align: left;
    position:absolute;
     top : 240px;
    left : 570px;
}
.next{
    background-color:indianred;
    float: left;
    color: white;
    padding: 16px;
    border-radius: 25%;
    vertical-align: left;
    position:absolute;
     top : 500px;
    left : 1200px; 
}
h2{
    float: left;
    vertical-align: left;
    position:absolute;
     top : 300px;
    left : 600px;
}