.Xselect{
    background-color:indianred;
    float: left;
    color: white;
    padding: 24px;
    border-radius: 25%;
    vertical-align: left;
    position:absolute;
     top : 155px;
    left : 320px;
}
.Oselect{
    background-color:rgb(19, 12, 122);
    float: left;
    color: white;
    padding: 24px;
    border-radius: 25%;
    vertical-align: left;
    position:absolute;
     top : 155px;
    left : 1020px;
}

.start{
    background-color:green;
    float: left;
    color: white;
    padding: 16px;
    border-radius: 25%;
    vertical-align: left;
    position:absolute;
     top : 355px;
    left : 620px;
}